.rankings {
	padding: 2rem 2rem 4rem 2rem;
}

.rankings .market-data {
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	gap: 1rem;
	margin-bottom: 1em;
}

.rankings .data-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rankings .market-data .arrow {
	height: 1em;
	aspect-ratio: 1/1;
}
