section.auth {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 2rem 6rem 2rem;
}

section.auth form {
	display: flex;
	width: 22rem;
	flex-direction: column;
	align-items: flex-start;
	animation: slideLeft 0.5s ease-in-out;
}

section.auth form .page-header {
	align-self: center;
	margin-bottom: 0;
}

.auth-subheader {
	color: var(--dark-gray);
	align-self: center;
	text-align: center;
	margin: 0.5rem 0 2rem 0;
}

section.auth .form-input {
	width: 100%;
	margin-bottom: 0.75rem;
	height: 2.5rem;
	border-radius: 0.5rem;
	color: black;
	padding-left: 0.3rem;
}

section.auth .auth-img {
	height: 30vw;
	aspect-ratio: 1/1;
	animation: slideRight 0.5s ease-in-out forwards, bounce 2s infinite 0.5s;
}

section.auth form .link {
	align-self: center;
	margin-top: 0.75rem;
}

section.auth form .link span {
	color: var(--btn-color);
	text-decoration: underline;
}

section.auth form .link span:hover {
	filter: brightness(1.2);
}

section.auth form .actions-wrapper {
	display: flex;
	font-size: 0.9em;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 2rem;
}

section.auth form .remember-me {
	display: flex;
}

section.auth form .remember-me input:hover,
section.auth form .remember-me label:hover,
section.auth form .actions-wrapper p:hover {
	cursor: pointer;
	filter: brightness(0.8);
}

section.auth #re_password {
	margin-bottom: 2rem;
}

section.auth .btn {
	width: 100%;
}

@media (max-width: 1024px) {
	section.auth .auth-img {
		display: none;
	}
}
