.profile {
	padding: 2rem 2rem 4rem 2rem;
}

.profile .profile-data {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile .profile-img {
	height: 17rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.profile .username {
	color: var(--btn-color);
}

.profile .list-wrapper {
	width: 40%;
	margin: 1em auto 4em auto;
	display: flex;
	flex-direction: column;
}

.profile .list-wrapper ul {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #5f5d5f;
	list-style: none;
}

.profile .list-wrapper ul li:first-child {
	color: var(--dark-gray);
}

.profile .crypto-table {
	width: 80%;
	margin: auto;
}

.profile .portfolios-wrapper {
	display: flex;
	flex-direction: column;
}

.profile .portfolios-title {
	text-align: center;
}

.profile .no-portfolios {
	text-align: center;
	margin-top: 1rem;
}
