.details {
	padding: 2rem 2rem 4rem 2rem;
}

.details-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.detials-title img {
	max-width: 12rem;
}

.details-chart {
	width: 80%;
	height: 20rem;
	margin: auto;
}

.details-info {
	width: 40%;
	margin: 2em auto 4em auto;
	display: flex;
	flex-direction: column;
}

.details-info ul {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #5f5d5f;
	list-style: none;
}

.details-info ul li:last-child {
	font-weight: 300;
}

.details .loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}
