.home {
	display: flex;
	flex-direction: column;
	padding: 2rem 2rem 4rem 2rem;
}

section.hero {
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 75vh;
}

section.hero .img-right {
	animation: slideLeft 0.5s ease-in-out forwards, bounce 2s infinite 0.5s;
	width: 27vw;
	aspect-ratio: 1/1;
}

section.hero .img-left {
	animation: slideRight 0.5s ease-in-out forwards, bounce 1.8s infinite 0.5s;
	width: 27vw;
	aspect-ratio: 1/1;
}

section.hero .hero-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

section.hero .hero-text .description {
	line-height: 1.5;
	padding: 1rem;
}

section.hero .btn-container {
	display: flex;
	gap: 1rem;
}

section.home-rankings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

section.home-rankings h2 {
	text-align: center;
}

section.home-rankings .home-btn-rankings {
	margin-top: 0.5rem;
}

section.home-explore,
section.home-portfolio {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
	padding: 1rem 0;
}

section.home-explore {
	animation: appearToLeft linear;
	animation-timeline: view();
	animation-range: entry 0 cover 30%;
}

section.home-portfolio {
	animation: appearToRight linear;
	animation-timeline: view();
	animation-range: entry 0 cover 30%;
}

section.home-explore h2,
section.home-portfolio h2 {
	margin-bottom: 1rem;
}

.home .home-section-img {
	width: 27vw;
	aspect-ratio: 1/1;
}

.home-portfolio-text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	animation: appearToLeft linear;
	animation-timeline: view();
	animation-range: entry 0 cover 30%;
}

.home-explore-text {
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: flex-start;
	animation: appearToRight linear;
	animation-timeline: view();
	animation-range: entry 0 cover 30%;
}

.home-portfolio-text .home-btn-portfolio {
	margin-top: 1rem;
}

.home-explore-text .home-btn-explore {
	margin-top: 1rem;
}

section.home-cta {
	width: 80%;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 3rem;
	border-radius: 1rem;
	background: linear-gradient(to right, var(--deep-blue), var(--light));
}

section.home-cta .cta-text {
	flex: 0 0 60%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

section.home-cta .cta-text p {
	max-width: 66ch;
}

@media (max-width: 1024px) {
	.home {
		padding: 1rem 1rem 2rem 1rem;
		gap: 1rem;
	}

	section.hero {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	section.hero .img-right,
	section.hero .img-left {
		order: 1;
	}

	.home-rankings h2 {
		margin-bottom: 1rem;
	}

	section.home-explore,
	section.home-portfolio {
		width: 80%;
	}
}

@media (max-width: 700px) {
	.home {
		gap: 2rem;
	}

	section.home-explore,
	section.home-portfolio {
		flex-direction: column;
		width: 90%;
	}

	section.hero .img-right,
	section.hero .img-left {
		margin-top: 1rem;
		width: 38vw;
	}

	.home .home-section-img {
		width: 45vw;
	}

	.home-explore-text,
	.home-portfolio-text {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	section.hero {
		min-height: 70vh;
		gap: 1rem;
	}

	.home-portfolio-text {
		order: 1;
	}

	section.home-cta {
		flex-direction: column;
		width: 90%;
		padding: 1.5rem;
	}
}

@media (max-width: 500px) {
	.home .home-section-img {
		width: 50vw;
	}
}
