.home {
	display: flex;
	flex-direction: column;
}

h2 {
	padding-bottom: 1rem;
}

section.hero {
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	/* Remove later */
	min-height: 75vh;
}

section.hero img {
	height: 25vw;
}

section.hero .hero-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

section.hero .hero-text .description {
	line-height: 1.5;
	padding: 1rem;
}

section.hero .btn-container {
	display: flex;
	gap: 1rem;
}

section.home-rankings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}

section.home-rankings .home-btn-rankings {
	margin-top: 0.5rem;
}
