.hub {
	padding: 2rem 2rem 4rem 2rem;
}

.portfolios-wrapper {
	display: flex;
	flex-direction: column;
}

section.portfolio-cta {
	width: 80%;
	margin: 1rem auto;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	border-radius: 1rem;
	background: linear-gradient(to right, var(--deep-blue), var(--light));
}

section.portfolio-cta .cta-text {
	flex: 0 0 60%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

section.portfolio-cta .cta-text p {
	max-width: 66ch;
}
