.search {
	margin: 0 auto 1rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search form {
	width: 40ch;
	padding: 0.5rem;
	background-color: white;
	border-radius: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}

.search input {
	outline: none;
	border: none;
	color: black;
	width: 70%;
}

@media (max-width: 700px) {
	.search form {
		width: 90%;
	}
}
