.crypto-table {
	width: 80%;
	margin: auto;
}

.crypto-table .arrow {
	height: 1em;
	aspect-ratio: 1/1;
}

.table-header,
.table-layout {
	display: grid;
	grid-template-columns: 0.3fr 1.5fr 1fr 1fr 1.5fr;
	padding: 1rem 0;
	align-items: center;
	border-bottom: 1px solid var(--separator-line);
	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0 cover 20%;
	gap: 0.5em;
}

.table-header.six-col,
.table-layout.six-col {
	grid-template-columns: 0.3fr 1.5fr 1fr 1fr 1fr 1.5fr;
}

.table-layout .name-wrapper,
.table-layout .portfolio-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.1em;
}

.table-layout .portfolio-title .owner {
	color: var(--btn-color);
}

.table-layout .name-wrapper .symbol,
.table-layout .last-column .quantity {
	color: var(--dark-gray);
}

.table-header .table-layout:hover {
	filter: brightness(1.2);
}

.table-header ._7d-change,
.table-layout ._7d-change,
.table-header ._24h-change,
.table-layout ._24h-change {
	text-align: center;
}

.table-header > p:last-of-type,
.table-layout .last-column {
	text-align: right;
	justify-self: flex-end;
}

.table-layout .allocation-last-column,
.table-layout .followers,
.table-layout .last-column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.1em;
}

.table-layout:last-child,
.create-row-wrapper:last-child .table-layout {
	border: none;
}

.table-layout div {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.table-layout div .coin-img {
	height: 2.5em;
	aspect-ratio: 1/1;
}

.table-header ._coin-profit-loss,
.table-header ._profit-loss {
	text-align: right;
}

.table-layout .coin-profit-loss-wrapper,
.table-layout .profit-loss-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.1em;
}
@media (max-width: 1024px) {
	.crypto-table {
		width: 90%;
	}
}

@media (max-width: 900px) {
	.table-header,
	.table-layout {
		grid-template-columns: 0.3fr 1.5fr 1fr 1fr;
	}

	.table-header ._coin-profit-loss,
	.table-layout .coin-profit-loss-wrapper,
	.table-header ._followers,
	.table-layout .followers {
		display: none;
	}
}

@media (max-width: 700px) {
	.table-header,
	.table-layout,
	.table-header,
	.table-layout {
		grid-template-columns: 0.3fr 1.5fr 1fr 1fr;
	}

	.table-header.six-col,
	.table-layout.six-col {
		grid-template-columns: 0.3fr 1.5fr 1fr 1fr 1fr;
	}

	.table-header ._market-cap,
	.coin-table .table-layout .last-column {
		display: none;
	}
}

@media (max-width: 500px) {
	.table-header,
	.table-layout,
	.table-header,
	.table-layout {
		grid-template-columns: 0.3fr 1.5fr 1fr;
	}

	.table-header.six-col,
	.table-layout.six-col {
		grid-template-columns: 0.3fr 1.5fr 1fr 1fr;
	}

	.portfolio-table ._allocation,
	.table-layout ._7d-change,
	.table-header ._7d-change,
	.portfolio-table .total-allocation,
	.portfolio-coin-table ._price {
		display: none;
	}

	.table-layout .profit-loss-wrapper p,
	.table-layout.six-col ._24h-change {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-end;
	}
}
