.crypto-table .arrow {
	height: 1em;
	aspect-ratio: 1/1;
}

.table-header,
.table-layout {
	display: grid;
	grid-template-columns: 0.3fr 2fr 1fr 1fr 1.5fr;
	padding: 1rem 1.2rem;
	align-items: center;
	border-bottom: 1px solid var(--separator-line);
	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0 cover 20%;
	gap: 0.5em;
}

.table-layout .name-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.1em;
}

.table-layout .name-wrapper .symbol,
.table-layout .last-column .quantity {
	color: var(--dark-gray);
}

.table-layout:hover {
	filter: brightness(1.2);
}

.table-header p:nth-last-of-type(2),
.table-layout .change {
	text-align: center;
}

.table-header > p:last-of-type,
.table-layout .last-column {
	text-align: right;
	justify-self: flex-end;
}

.table-layout .last-column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.1em;
}

.table-layout:last-child,
.create-row-wrapper:last-child .table-layout {
	border: none;
}

.table-layout div {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.table-layout div .coin-img {
	height: 2.5em;
	aspect-ratio: 1/1;
}

.table-layout .profit-loss-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.1em;
}

.crypto-table .loading {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
}
