/* .crypto-table {
	width: 70%;
	margin: auto;
	border-radius: 15px;
} */

.crypto-table .arrow {
	height: 1em;
	aspect-ratio: 1/1;
}

.table-layout {
	display: grid;
	grid-template-columns: 0.3fr 2fr 1fr 1fr 1.5fr;
	padding: 1rem 1.2rem;
	align-items: center;
	border-bottom: 1px solid var(--separator-line);
	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0 cover 20%;
	gap: 0.5em;
}

.table-layout:hover {
	filter: brightness(1.2);
}

.table-layout p:nth-last-of-type(2) {
	text-align: center;
}

.table-layout > p:last-of-type {
	text-align: right;
	justify-self: flex-end;
}

.table-layout:last-child,
.create-row-wrapper:last-child .table-layout {
	border: none;
}

.table-layout div {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.table-layout div p {
	justify-self: flex-start;
}

.table-layout div img {
	height: 2.5rem;
	aspect-ratio: 1/1;
}

.crypto-table .loading {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
}
