.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 5%;
	color: #ddd;
	border-bottom: 2px solid var(--separator-line);
	border-radius: 1rem;
	animation: slideDown 1s linear;
}

.navbar .logo {
	width: max(10vw, 8rem);
}

.navbar ul.navbar-links {
	display: flex;
	gap: 2.5rem;
	list-style: none;
}

.navbar-links li {
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

.navbar .link-img {
	height: 2em;
	aspect-ratio: 1/1;
}

.nav-right {
	display: flex;
	align-items: center;
	gap: max(1vw, 2rem);
}

.navbar select {
	padding: 0.3rem 0.5rem;
	border-radius: 0.4rem;
	border: 2px solid white;
	background: transparent;
	color: white;
}

.navbar option {
	background-color: #09005c;
	color: white;
}

.user {
	display: flex;
	align-items: center;
	position: relative;
}

.user-menu {
	position: absolute;
	top: 110%;
	right: 0;
	display: none;
	border: 2px solid var(--separator-line);
	border-top: none;
	border-radius: 0.4rem;
}

.user-menu.show {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	padding: 0.5rem;
	background: var(--deep-blue);
}

.user-menu li {
	background: var(--deep-blue);
	padding: 0.3rem 0.5rem;
	display: flex;
	gap: 0.2rem;
	justify-content: flex-start;
	align-items: center;
	border-radius: 0.3rem;
}

.user-menu li:hover {
	filter: brightness(1.2);
	scale: 1.05;
}

.user-menu .link-img {
	height: 1em;
	aspect-ratio: 1/1;
}

.user .user-img {
	height: 2.5rem;
	aspect-ratio: 1/1;
	cursor: pointer;
	border-radius: 50%;
	margin-left: 0.3rem;
}

.user p {
	cursor: pointer;
}

.link-active {
	color: var(--btn-color);
}

@media (max-width: 1024px) {
	.navbar {
		padding: 0.5rem 1rem;
	}

	.navbar ul.navbar-links {
		display: flex;
		gap: 1.5rem;
		list-style: none;
	}

	.nav-right {
		gap: 1rem;
	}
}

@media (max-width: 700px) {
	.navbar ul.navbar-links {
		display: none;
	}
}
