.create {
	padding: 2rem 2rem 4rem 2rem;
}

.create form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.create .title-wrapper {
	width: 30%;
	margin: auto;
}

.create .title-wrapper .form-input {
	width: 100%;
	margin-bottom: 0.75rem;
	height: 2.5rem;
	border-radius: 0.5rem;
	color: black;
	padding-left: 0.3rem;
}

.create-chart {
	height: 40vh;
	width: 40vw;
	align-self: center;
}

.create .crypto-table {
	min-width: 60%;
	margin: 0 auto 0.75rem auto;
	padding-right: 2.5rem;
}

.create .allocation {
	margin-bottom: 1em;
}

.create .allocation label {
	color: var(--dark-gray);
}

.create .create-row-wrapper {
	position: relative;
	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0 cover 20%;
}

.create .remove-coin-img {
	position: absolute;
	top: calc(50% - 1.25rem);
	right: -2.5rem;
	height: 2.5rem;
	aspect-ratio: 1/1;
	cursor: pointer;
}

.create .remove-coin-img:hover {
	filter: brightness(0.8);
}

.create .assets-title {
	align-self: center;
	margin-bottom: 1rem;
}
