.add-coin-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.add-coin-wrapper {
	background: var(--deep-blue);
	padding: 1.5rem;
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.1rem 0.1rem black;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-header img {
	height: 2rem;
	aspect-ratio: 1/1;
	cursor: pointer;
}

.modal-header {
	margin-bottom: 0.75rem;
}

.add-coin-wrapper .inputs-container {
	display: flex;
	gap: 0.3rem;
}

.add-coin-wrapper .input-wrapper {
	width: 18ch;
}

.add-coin-wrapper .select-coin,
.add-coin-wrapper .form-input {
	width: 100%;
	margin-bottom: 0.75rem;
	height: 2.5rem;
	border-radius: 0.5rem;
	color: black;
	padding-left: 0.3rem;
}

#total-spent {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 0.75rem;
}

@media (max-width: 500px) {
	.add-coin-wrapper .input-wrapper {
		width: 14ch;
	}
}
