.explore {
	padding: 2em;
}

.search {
	width: 40%;
	margin: 0 auto 1em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.search form {
	padding: 0.5rem;
	width: 80%;
	background-color: white;
	border-radius: 5px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	color: black;
}

.search input {
	flex: 1;
	font-size: 16px;
	outline: none;
	border: none;
	padding-left: 10px;
}

.search button {
	border: none;
	background: #7927ff;
	color: white;
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 5px;
	cursor: pointer;
}

.explore .categories-wrapper {
	width: 70%;
	margin: 0 auto;
	font-size: 14px;
}

.explore .categories-wrapper img {
	height: 1em;
	aspect-ratio: 1/1;
}

.explore .categories-list {
	font-size: 16px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 1em 0;
}

.explore .categories-list li {
	border: 1px solid var(--light-gray);
	border-radius: 0.5rem;
	padding: 0.2rem 1rem;
	cursor: pointer;
}
.explore .categories-list li:hover {
	filter: brightness(1.2);
}
