.portfolio .portfolio-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 0 1 30%;
	gap: 2rem;
}

.portfolio .title-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.2rem;
}

.portfolio .title-wrapper .title {
	display: flex;
	position: relative;
}

.portfolio .title-wrapper h2 {
	width: 15ch;
}

.portfolio .title-wrapper .edit-img {
	display: inline;
	right: -2.4em;
	position: absolute;
	height: 2.4em;
	aspect-ratio: 1/1;
}

.portfolio .btn-wrapper {
	display: flex;
	gap: 1rem;
}

.portfolio .title-wrapper .shown {
	display: inline;
}

.portfolio .owner {
	color: var(--btn-color);
	margin-bottom: 0.75rem;
}

.portfolio .follower-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.portfolio .info {
	display: flex;
	flex-direction: column;
}

.portfolio .info ul {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #5f5d5f;
	list-style: none;
}

.portfolio .info ul li:first-child {
	color: var(--dark-gray);
}

.portfolio .info ul li:last-child {
	text-align: right;
}

@media (max-width: 1024px) {
	.portfolio .portfolio-details {
		margin: auto;
		width: 70%;
	}
}

@media (max-width: 700px) {
	.portfolio .portfolio-details {
		margin: auto;
		width: 90%;
	}

	.portfolio .title-wrapper h2 {
		width: 12ch;
	}

	.portfolio .title-wrapper .edit-img {
		right: -2.2em;

		height: 1.75rem;
	}
}
