section.portfolio-details {
	padding: 2rem 2rem 4rem 2rem;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 3rem;
}

.portfolio-details .details-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 0 1 25%;
	gap: 2rem;
}

.portfolio-details .details-right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio-details label {
	color: var(--dark-gray);
}

.portfolio-chart {
	height: 40vh;
	width: 40vw;
}

.portfolio-details .title-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.2rem;
}

.portfolio-details .owner {
	color: var(--btn-color);
	cursor: pointer;
}

.portfolio-details .user-btn-wrapper {
	display: flex;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.portfolio-details .info {
	display: flex;
	flex-direction: column;
}

.portfolio-details .info ul {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #5f5d5f;
	list-style: none;
}

.portfolio-details .follower-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.portfolio-details .assets-title {
	align-self: center;
	margin-bottom: 1rem;
}

.portfolio-details .info ul li:first-child {
	color: var(--dark-gray);
}

.portfolio-details .loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}
