section.portfolio {
	padding: 2rem 2rem 4rem 2rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

.portfolio .portfolio-assets {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio-chart {
	height: 40vh;
	width: 45vw;
}

.portfolio img.arrow {
	height: 1em;
}

.portfolio .assets-title {
	align-self: center;
	margin-bottom: 1rem;
}

.portfolio .portfolio-row-wrapper {
	position: relative;
	animation: appear linear;
	animation-timeline: view();
	animation-range: entry 0 cover 20%;
}

.portfolio .remove-coin-img {
	position: absolute;
	top: calc(50% - 1.25rem);
	left: -2.5rem;
	height: 2.5rem;
	aspect-ratio: 1/1;
	cursor: pointer;
}

.portfolio .remove-coin-img:hover {
	filter: brightness(0.8);
}

.portfolio .crypto-table {
	margin-bottom: 1rem;
}

@media (max-width: 1024px) {
	section.portfolio {
		padding: 1rem 1rem 2rem 1rem;
		flex-direction: column;
		gap: 1rem;
	}

	.portfolio-chart {
		width: 66vw;
		font-size: 0.7rem;
	}

	.portfolio .portfolio-assets {
		margin: auto;
		width: 100%;
	}
}

@media (max-width: 700px) {
	.portfolio-chart {
		width: 90vw;
	}

	.portfolio .remove-coin-img {
		top: calc(50% - 0.9rem);
		left: -2rem;
		height: 2rem;
	}
}

@media (max-width: 500px) {
	.portfolio-chart {
		height: 68vw;
	}
}
